{% extends 'base.html' %}

{% block content %}
    <h1>Edit Messages.</h1>

    <form action="{{url_for('messages.show', user_id=message.user_id, id=message.id)}}?_method=PATCH" method="POST">
        {{ form.hidden_tag() }}
        {% for field in form if field.widget.input_type != 'hidden' %}
        <p>
            {{field.label}}
            {{field}}
            <span>
                {% if field.errors %}
                    {% for error in field.errors %}
                        {{ error }}
                    {% endfor %}
                {% endif %}
            </span>
        </p>
        {% endfor %}
        <input type="submit" value="Edit Message">
    </form>

{% endblock %}