{% extends 'base.html' %}

{% block content %}
    <h1>Add New User.</h1>

    <form action="{{url_for('users.index')}}" method="POST">
        {{ form.hidden_tag() }}
        {% for field in form if field.widget.input_type != 'hidden' %}
        <p>
            {{field.label}}
            {{field}}
            <span>
                {% if field.errors %}
                    {% for error in field.errors %}
                        {{ error }}
                    {% endfor %}
                {% endif %}
            </span>
        </p>
        {% endfor %}
        <button>Add User</button>
    </form>

{% endblock %}